* {
	border: none;
	border-radius: 0;
	font-family: "monospace";
	font-size: 16px;
	color: #acacac;
	min-height: 0;
	-gtk-icon-shadow: none;
	text-shadow: none;
	box-shadow: none;
}

window#waybar {
	background-color: #000;
}

tooltip {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
}
tooltip label {
	color: #eee;
}

/* Left-side modules */

#workspaces {
  padding-bottom: 1px;
}
#workspaces button {
  all: unset;
  padding: 0 12px;
  border: 1px solid #333333;
  background-color: #282828;
}
#workspaces button label {
  color: #b2b2b2;
}
#workspaces button:hover {
  border: 1px solid #484848;
  background-color: #3c3c3c;
}
#workspaces button:hover label {
  color: #dddddd;
}
#workspaces button.focused {
  border: 1px solid #3c6889;
  background-color: #285577;
}
#workspaces button.focused label {
  color: #eeeeee;
}

/* Right-side modules */

#battery.high   { color: #acacac; }
#battery.medium { color: #efcc00; }
#battery.low    { color: #e30022; }

#memory.low    { color: #acacac; }
#memory.medium { color: #efcc00; }
#memory.high   { color: #e30022; }

#cpu.low    { color: #acacac; }
#cpu.medium { color: #efcc00; }
#cpu.high   { color: #e30022; }

#taskbar, #taskbar button {
	all: unset;
}
#taskbar button label {
	color: rgba(0, 0, 0, 0);
	font-size: 0px;
}
#taskbar button.active label {
	color: #acacac;
	font-size: 15px;
	margin-left: 14px;
}

#clock {
	margin-right: 14px;
}
